<div class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Список объектов</h1>
                <!--<p class="lead text-muted">Можно добавить новый</p>
                <p>
                    <a href="/createObject" class="btn btn-primary my-2">Добавить новый объект</a>
                    &lt;!&ndash;<a href="#" class="btn btn-secondary my-2">Secondary action</a>&ndash;&gt;
                </p>-->
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{#each object}}
                    {{#if name}}
                        <div class="col mt-3">
                            <div class="card shadow-sm">

                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Какая то картинка" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

                                <div class="card-body">
                                    <!--<div class="card-header">
                                        Параметры
                                    </div>-->
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Наименование: {{name}}</li>
                                        <li class="list-group-item">Адрес: {{address}}</li>
                                        <li class="list-group-item">Кол-во квартир: {{flat}}</li>

                                        <li class="list-group-item">Кол-во секций: {{section}}</li>
                                        <li class="list-group-item">Офисов: {{office}}</li>
                                        {{#if metersInFlat}}
                                            <li class="list-group-item">Счётчики воды в квартире</li>
                                        {{/if}}
                                        {{#if metersInGr}}
                                            <li class="list-group-item">Счётчики воды в гребёнке</li>
                                        {{/if}}
                                        {{#if systemBolid}}
                                            <li class="list-group-item">Сделано на Болиде</li>
                                        {{/if}}
                                        {{#if systemTeplovodohran}}
                                            <li class="list-group-item">Сделано на Пульсар</li>
                                        {{/if}}
                                    </ul>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/selectedObject/{{id}}/?id={{id}}"><button type="button" class="btn btn-sm btn-outline-info">Test</button></a>
                                            <!--<form action="">
                                                <button type="button" class="btn btn-sm btn-outline-danger ml-3">Удалить</button>
                                            </form>-->
                                        </div>
                                        <!--<small class="text-muted">9 mins</small>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <p>объектов пока нет..увы</p>
                    {{/if}}
                {{/each}}

            </div>

        </div>
    </div>
</div>